:root {
    background-color: black;
    margin: 0;
    height: 100%;
    overflow: hidden
}

.blink_me {
    animation: blinker 0.2s linear infinite;
    text-align: center;
    font-size: 12vw;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}